/**
 * Base SCSS
 */
/** Gradients **/

.black-on-left{
    

background: rgba(0,0,0,1);
background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );


}
.black-on-right{
    

background: rgba(0,0,0,0.7);
background: -moz-linear-gradient(45deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(45deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );


}
/** Homepage Styles **/
#blog-preview{
color:#FFF;
    .post{
        height:250px;
        padding:2rem;
border-radius:7px;
        h3{
        font-size:2rem;
        
}
}
a{
color:#FFF;
font-weight:bold;
}
}
