/**
 * Base SCSS
 */

/** Homepage Styles **/

#masthead {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: #FFF !important;
    background-attachment: fixed !important;
    .main-text-wrapper{
        height:400px;
        @media screen and (min-width:768px) {
        height:60vh;
        }
    }
    .main-text {
        a {
            font-size: 20px;
            @media screen and (min-width: 576px) {
                &:last-child {
                    margin-left: 1rem;
                }
            }
        }
        @media screen and (max-width:767px) {
            text-align: center;
        }
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 3rem 0 4rem;
        /* make things invisible upon start */
        -webkit-animation: fadeIn ease-in 1;
        /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        backdrop-filter: blur(2px);
        a {
            color: #FFF;
        }
        .text-center{
            margin-bottom:1rem;
        }
    }
    h1 {
        @media screen and (min-width: 768px) {
            font-size: 64px;
        }
        color: inherit;
        font-weight: 600;
        margin: 0;
    }
    h2 {
        @media screen and (min-width: 768px) {
            font-size: 48px;
            margin-bottom:-1.5rem;
        }
        font-size:1.5rem;
        color: inherit;
    }
    h3 {
        font-size: 36px;
        font-weight: 900;
    }
    h4 {
        font-weight: 600;
        font-size: 24px;
        a {
            font-size: inherit;
            text-decoration: underline;
        }
    }
    p {
        font-size: 18px;
    }
    .pt li {
        list-style-type: none;
        font-size: 18px;
    }
    a {
        font-size: 18px;
    }
    .main-text,
    .prayer-times {
        @media screen and (min-width: 992px) {
            text-align: right;
        }
    }
    .prayer-times {
        margin-top: 1rem;
        @media screen and (min-width: 992px) {
            margin-top:0;
        }
    }
}

#blogsevents {
    h2 {
        font-weight: 900;
        margin-bottom: 1rem;
    }
    @media screen and (max-width:575px) {
        background: none !important;
    }
    @media screen and (min-width:576px) {
        background-size: cover !important;
        color: #FFF;
        background-attachment: fixed !important;
    }
}

#events-preview {
    @media screen and (min-width: 576px) {
        padding:7rem 0 4rem;
        a {
            color: #FFF;
        }
    }
    .event {
        border-bottom: 1px solid $light-brown;
        padding: 0.6rem 1rem;
        backdrop-filter: blur(2px);
        @media screen and (min-width: 576px) {
            height: 175px;
            border: none;
            border-radius: 7px;
            font-size: 14px;
        }
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        h3 {
            font-size: 1.3rem;
        }
        a {
            float: right;
            margin-top: 0.2rem;
            align-self: flex-end;
        }
    }
}

#blog-preview {
    @media screen and (min-width:576px){
        padding:4rem 0 7rem;
    }
    @media screen and (max-width: 575px) {
        background-color:#000;
        color: #FFF;
        a {
            color: #FFF;
        }
    }
    .post {
        @media screen and (min-width: 768px) {
            height: 210px;
            margin: 1rem;
        }
        padding: 1rem 2rem;
        border-radius: 7px;
        margin-bottom:1rem;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            font-size: 2rem;
        }
        &:last-of-type {
            @media screen and (min-width: 992px) {
                text-align: right;
            }
        }
        @media screen and (max-width:575px) {
            background: none !important;
        }
    }
    a {
        color: #FFF;
        font-weight: bold;
    }
}

.section-header {
    @media screen and (max-width: 575px) {
        text-align:center;
        margin-bottom: 0 !important;
    }
}

.section-header-links {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 576px) {
        justify-content: flex-end;
        align-items: center;
    }
    font-style: italic;
    a {
        font-weight: bold;
    }
    .divider {
        font-weight: bold;
        margin: 0 0.5rem;
    }
}

#testimonials-preview {
    background-size: cover;
    padding:7rem 0;
    h2 {
        color: #FFF;
        font-weight: 900;
    }
    a {
        color: #FFF;
    }
    .big-q {
        color: $light-brown;
        font-size: 108px;
        font-weight: 900;
        line-height: 1;
        font-family: 'Nunito Sans', 'Lato', sans-serif;
        @media screen and (max-width: 768px) {
            font-size:36px;
        }
    }
    .author {
        font-size: 1.5rem;
        @media screen and (max-width: 768px) {
            font-size:1rem;
        }
    }
    
    .testimonial {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 2rem;
        border-radius: 7px;
        margin: 1rem;
        backdrop-filter: blur(2px);
        h3 {
            font-size: 28px;
            font-weight: 500;
            font-family: 'Lato', sans-serif;
            font-style: italic;
            @media screen and (max-width: 768px) {
                font-size:18px;
            }
        }
    }
    .footer,
    .footer a {
        color: $light-brown;
    }
}

footer {
    padding: 3rem 0 0;
    background-color: #EEE;
    h4 {
        color: $light-brown;
        font-size: 1.6rem;
        font-weight: 900;
    }
    li {
        list-style: none;
        font-size: 1.4rem;
        padding: 0.2rem 0;
    }
    address {
        h6 {
            color: $light-brown;
        }
        font-weight:700;
    }
    #copyright {
        background: #CCC;
        font-weight: 700;
        text-align: center;
        padding: 0.7rem;
        margin-top: 3rem;
        a {
            color: $light-brown;
        }
    }
}

/** About Us Styles **/

.page-template-about {
    h2 {
        color: $light-brown;
    }
}

.imam {
    background-color: #b87963;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%235a3a29' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #FFF;
    padding: 1rem 0 4rem;
    img {
        margin-top: 3rem;
        max-height: 175px;
    }
    .bio {
        text-align: center;
        font-weight: bold;
    }
}

.about-container {
    padding: 2rem 0;
}

.about-side {
    will-change: min-height;
    h3 {
        color: $light-brown;
        font-size: 1.4rem;
    }
    .sidebar {
        li {
            list-style-type: none;
            font-size: 0.8rem;
            font-weight: bold;
            margin: 0.5rem 0;
        }
    }
    .inner-wrapper-sticky {
        border-right: 1px solid $light-brown;
        position: sticky;
    }
}

.sidebar__inner {
    transform: translate(0, 0);
    /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

/* Madrasah Styles */

.sub-nav {
    background-color: $dark-brown;
    ul {
        text-align: right;
        @media screen and (min-width: 768px) {
            margin-right:5rem;
        }
        li {
            display: inline-block;
            padding: 0.5rem;
            a {
                font-weight: 700;
                color: #FFF;
            }
        }
    }
}

.owl-madrasah {
    margin: 0;
    .slide {
        width: 100%;
        background-size: cover;
        height: 100vh;
        .content {
            background-color: rgba(0, 0, 0, 0.7);
            color: #FFF;
            float: right;
            width: 600px;
            height: 100%;
            padding: 2rem;
            h1 {
                font-size: 2rem;
            }
            @media screen and (max-width:786px) {
                width: 100%;
            }
        }
        @media screen and (max-width:786px) {
            height: 120vh;
        }
    }
}

#custom-dots {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #FFF;
    z-index: 50;
    text-align: right;
    li {
        font-weight: bold;
        padding: 0.4rem 1.2rem;
        border-radius: 7px;
        list-style-type: none;
        cursor: pointer;
        &.active {
            @extend .light-brown-on-left;
        }
    }
    @media screen and (max-width:786px) {
        position: relative;
        background-color: #000;
        right: 0;
        bottom: 0;
        padding: 1rem;
        top: -1rem;
    }
}

.page-template-madrasah {
    @media screen and (min-width: 768px) {
        .madrasah-link:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            margin: 8px 20px;
            border-bottom: solid 17px #452d20;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
            position: absolute;
        }
    }
    h2 {
        font-weight: 900;
    }
    p {
        font-size: 1.3rem;
    }
    .text-image-section .btn {
        margin-top: 1rem;
    }
}

#section-1-madrasah-home {
    h2 {
        font-weight: 900;
        text-align: center;
    }
}

#school-gallery-preview {}

#testimonials-students-preview {
    .section-header-links a {
        color: $light_brown;
    }
}

.testimonials-carousel {
    .testimonial-item {
        height: 175px;
        padding: 0.6rem 1rem;
        border-radius: 7px;
        font-size: 14px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 1rem;
        }
        a {
            float: right;
            margin-top: 0.2rem;
            align-self: flex-end;
        }
    }
}

.page-template-prayer-times-php {
    .pt {
        li {
            list-style-type: none;
        }
    }
}

#prayer-times-full {
    width: 100%;
    min-width: 600px;
    overflow-x: scroll;
    /* Zebra striping */
    th {
        background-color: #ccc;
        color: #000;
        font-weight: bold;
    }
    td,
    th {
        padding: 6px;
        border-bottom: 1px solid #FFF;
        text-align: left;
    }
}

/* Tariqa */
.tariqa-content{
    margin:5rem 0;
}
.timeline{
    background-color:#000;
    background-size:cover !important;
    background-attachment: fixed !important;
    padding:10rem 0;
    margin:3rem 0 0;
}
.tariqa-popup{
    h3{
        font-size:1.5rem;
        color:$light-brown !important;
    }
    p{
        font-size:1rem;
    }
}
#lightcase-case{
    font-family:inherit !important;
}
.timeline-list {
    //border-left: 5px solid #ccc;
    padding-bottom: 1em;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    animation: reveal 2s 0 ease both 1;
    h3{
        color:#FFF;
        font-size:2rem;
        border:2px solid #FFF;
        border-radius:7px;
        padding:1rem;
        transition:all 250ms ease-in-out;
        &:hover{
            color:$light-brown;
            border-color:$light-brown;
        }
    }
    &:before {
        content: "";
        border-left: 5px solid $light-brown;
        left: -0.25em;
        top: 1rem;
        height: 75%;
        position: absolute;
        bottom: 0;
        transform-origin: 0 0;
        animation: scaleVertical 3s 1s ease both 1;
    }
    li {
        list-style-type: none;
        margin: 0 0 3em 0;
        padding: 0 2em 0em 2em;
        position: relative;
        .content {
            animation: revealFromLeft 0.5s 0s ease both 1;
            backdrop-filter: blur(2px);
        }
    }
    li:before {
        content: "";
        position: absolute;
        top: 0.6rem;
        left: -1.05rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: none repeat scroll 0% 0% #FFF;
        border: 5px solid $light-brown;
        animation: revealScaleUp 0.75s 0s ease both 1;
    }
}

.timeline-list li {
    &:nth-child(1) {
      &:before {
        animation-delay: 0.85s;
      }
      .content {
        animation-delay: 1.05s;
      }
    }
    &:nth-child(2) {
      &:before {
        animation-delay: 1.2s;
      }
      .content {
        animation-delay: 1.5s;
      }
    }
    &:nth-child(3) {
      &:before {
        animation-delay: 1.8s;
      }
      .content {
        animation-delay: 2.1s;
      }
    }
    &:nth-child(4) {
      &:before {
        animation-delay: 2s;
      }
      .content {
        animation-delay: 2.3s;
      }
    }
  }
  
  @keyframes revealFromLeft {
    0% {
      transform: translateX(-1em);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  @keyframes reveal {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes scaleVertical {
    0% {
      transform: scaleY(0);
    }
  
    100% {
      transform: scaleY(1);
    }
  }
  
  
  @keyframes revealScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.3);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  #events-gallery{
      .image-wrapper{
          height:250px;
      }
      img{
          width:100%;
          height:100%;
          object-fit: cover;
      }
  }